.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  border-bottom: 0.4px solid #afafaf7a !important;
  width: 44px !important;
  height: 44px !important;
  border: none !important;
}

.ant-modal-close {
  display: none;
}
.ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
