.profile-modal .ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profile-modal .ant-modal-close {
  display: none;
}
.profile-modal .ant-modal-content {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  min-height: 300px;
}
.profile-modal .ant-modal .ant-modal-content {
  border: 2px solid #f9ab70;
  border-radius: 10px;
}
.profile-modal .ant-modal-root .ant-modal-mask {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.59);
}
