.radio-input {
  position: absolute;
  opacity: 0;
}
.radio-inner-circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid rgb(138, 91, 91);
  border-radius: 50%;
  /* margin-right: 0.5em; */
  transition: border-color 0.2s;
  position: relative;
}
.radio-label:hover .radio-inner-circle {
  border-color: rgb(172, 135, 135);
}
.radio-label {
  margin: 0px;
}
.radio-input:checked + .radio-label .radio-inner-circle {
  border-color: #000;
  background: aqua;
}
.radio-input:checked + .radio-label .radio-inner-circle::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ant-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ant-modal-close {
  display: none;
}
.ant-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.ant-modal .ant-modal-content {
  border: 2px solid #f9ab70;
  border-radius: 10px;
}
.ant-modal-root .ant-modal-mask {
  backdrop-filter: blur(2px);
  /* background-color: rgba(255, 255, 255, 0.59); */
}
@media screen and (min-width: 780px) {
  .ant-modal .ant-modal-content {
    border-radius: 34px;
  }
  .ant-modal-body {
    gap: 50px;
  }
}
